html {
  box-sizing: border-box;
  font-size: 16px;
}
header{
  height: 500px;
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
  padding: 2em;

  width: 100%;
  min-height: 500px;

  background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
}
h1{
  display: flex;
  justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.fleximage{
  border-radius: 0px;
  width: 60%;
}
.check{
  width: 5%;
  height: 5%;
}
.textandtools{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
}
.checkmark{
display: block;
border: 1px solid red;
}
.tools{
  display: block;
  width: 50%;
  border: 1px solid blue;
}
img{
  border-radius: 50%;
}
.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;
}
.last{
  display: flex;
  justify-content: center;
}
.button_container{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
footer{
border-bottom: 2px solid #999;
display: flex;
justify-content: center;
padding: 20px;
background-color: #484848;
color: white;
}
.people{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 50px;
}
.people > div{
  display: inline-block;
}
