.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  display: block;
  width:auto;
}

.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;
}
.button_container{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
header{
height: 600px;
background-image: url("bg-subpage.jpg");
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}
footer{
border-bottom: 2px solid #999;
display: flex;
justify-content: center;
padding: 20px;
background-color: #484848;
color: white;
}
.lower{

}
h1{
  color: white;
}
body{
  margin: auto;
}
